ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
    color:white;
}
nav{
    margin-bottom: 40px;
}
body{
    background-color: lightgrey;
}
nav,footer{
    background-color: black;
}
.About{
    background-color: white;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
button{
    background-color: black;
    color: white;
    border-radius: 5px;
}